.Hover-CicleNumber:hover{
  background-color: rgba(128, 128, 128, 0.4) !important;
}

.AppIcon{
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.AppIcon:hover{
  transform: scale(0.95);
}
.Botton-Navigation{
  font-size: 11px;
  line-height: 10px;
  border-bottom: 2px solid black;
  cursor: pointer;
}