.box-keypad{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500  ;
  
}
.keypad-topbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  
}
.keypad-contatos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 130px;
  overflow: auto;
}
.keypad-numero-discado{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  font-size: 28px;
}
.keypad-dialpad{
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  height: 365px;
  
}
.dialpad-line{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 69px;
}
.NumberPress{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.NumberPress:hover{
  background-color: #36363646 !important;
}
.NumberPress p{
  font-size: 20px;
}
.NumberPress span{
  margin-top: -3px;
  height: 14px;
  font-size: 10px;
  font-weight: 100;
}
.dialpad-line-call{
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}


.FakeNumber{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

/** 
 *
 */
.keypad-rodape{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 44px;
  
}

.Card-Contatos{
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  height: 32px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.Card-Contatos .Perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.Card-Contatos .Name{
  margin-left: 5px;
  width: 145px;
  font-size: 14px;
}
.Card-Contatos .Phone{
  display: flex;
  justify-content: center;
  margin-left: 5px;
  width: 70px;
  font-size: 10px;
}


.keypad-contatos::-webkit-scrollbar {
  width: 0px;
}

.keypad-contatos::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: transparent;
}
